.main {
  max-width: 600px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  padding: 0;
}

.list__item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.container {
  display: grid;
  align-content: start;
}

.order {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}




