.dashboard {
  margin-top: 40px;
  max-width: 580px;
  display: grid;
  align-content: start;
  row-gap: 60px;

  ul {
    max-height: 313px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 36px;
}

