.container {
  max-height: 780px;
  overflow: auto;
  margin-top: 40px;
  display: grid;
  row-gap: 24px;
}

.container::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 10px;
  height: 8px;
}
.container::-webkit-scrollbar-thumb {
  background: #8585AD;
}