.burger_ingredient {
  max-width: 600px;
}
.tab_container {
  display: flex;
}

.scroll_container {
  max-height: 700px;
  overflow: auto;
}

.scroll_container::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 10px;
  height: 8px;
}
.scroll_container::-webkit-scrollbar-thumb {
  background: #8585AD;
}
