.card {
  * {
    margin: 0;
    padding: 0;
  }

  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 40px;
  list-style: none;
  background-color: var(--background);
  padding: 24px;

  .number_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .price_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .total_price_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }
}