.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 20px;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px
    rgba(51, 51, 255, 0.25), 0 0 8px
    rgba(51, 51, 255, 0.25), 0 4px 32px
    rgba(51, 51, 255, 0.5);
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  text-align: center;
  padding-bottom: 24px;
}

.img {
  box-sizing: border-box;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}